In [3]:
import pandas as pd

In [33]:
# Reading the 'Iris.csv' file and storing it in a dataframe
#index_col sets the index to start from the Id column
iris_data = pd.read_csv('Iris.csv', index_col=0)

In [34]:
iris_data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [43]:
#displaying the different categories in 'Species' column
iris_data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [44]:
'''
by using groupby, we group the different categories of the 'Species' column

and then we calculate the mean of Sepal Length for all those categories

the result is a series, we convert it to a dataframe by giving it an index using reset_index()
'''

iris_data.groupby('Species')['SepalLengthCm'].mean().reset_index()

           Species  SepalLengthCm
0      Iris-setosa          5.006
1  Iris-versicolor          5.936
2   Iris-virginica          6.588